body {
    background-color: lightseagreen;
  color: white;
}
h1{
 display: flex;
 justify-content: center;
 font-size: 50px;
}
h2{
display: flex;
justify-content: center;
font-size: 35px;
}
p{
display: flex;
justify-content: center;
font-size: 30px;
}